<div class="container">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <h4> Developed by </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><i class="fa fa-user"></i> Full stack developer (Senior)</h3>
                    </div>
                    <div class="widget-content text-center">
                        <img src="https://avatars0.githubusercontent.com/u/16312404?v=3&s=128" class="img-circle" alt="Avatar" />
                        <h4>Stefan Ristanović</h4>
                        <hr class="dashed" />
                        <ul class="list-unstyled text-muted">
                            <li>Most attitude, talkative and independent</li>
                        </ul>
                        <hr class="dashed" />
                        <button type="button" class="btn btn-large btn-primary"><i class="fa fa-thumbs-up"></i> Appreciate!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><i class="fa fa-user"></i> Full stack developer (Junior)</h3>
                    </div>
                    <div class="widget-content text-center">
                        <img src="https://avatars3.githubusercontent.com/u/17749693?v=3&s=128" class="img-circle" alt="Avatar" />
                        <h4>Bojan Blagojević</h4>
                        <hr class="dashed" />
                        <ul class="list-unstyled text-muted">
                            <li>Most on-time. Most fit and healthy</li>
                        </ul>
                        <hr class="dashed" />
                        <button type="button" class="btn btn-large btn-primary"><i class="fa fa-thumbs-up"></i> Appreciate!</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <div class="widget-header">
                        <h3><i class="fa fa-user"></i> Full stack developer (Junior)</h3>
                    </div>
                    <div class="widget-content text-center">
                        <img src="https://avatars2.githubusercontent.com/u/6232313?v=3&s=128" class="img-circle" alt="Avatar" />
                        <h4>Dragutin Marjanović</h4>
                        <hr class="dashed" />
                        <ul class="list-unstyled text-muted">
                            <li>Most hard worker</li>
                        </ul>
                        <hr class="dashed" />
                        <button type="button" class="btn btn-large btn-primary"><i class="fa fa-thumbs-up"></i> Appreciate!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-tripadvisor text-primary sr-icons"></i>
                            <h3>Log inspections</h3>
                            <p class="text-muted">We are carefully watching for all logs occurred on your agents!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                            <h3>Application dashboard</h3>
                            <p class="text-muted">In one place, you can manage all parts of your project!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-bell-o text-primary sr-icons"></i>
                            <h3>Real time notifications</h3>
                            <p class="text-muted">When we catch threat on your agent, you are immediately notified by our application!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-area-chart text-primary sr-icons"></i>
                            <h3>Reports</h3>
                            <p class="text-muted">We calculate all statistics for you! You can see everything you need in one place</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div ng-show="homeVm.alarm">
            <div class="widget widget-hide-header widget-reminder">
                <div class="widget-header hide">
                    <h3>New Alarm</h3>
                </div>
                <div class="widget-content">
                    <div class="today-reminder">
                        <h4 class="reminder-title">{{homeVm.alarm.alarm.data.attributes['project-name']}}</h4>
                        <p class="reminder-time"><i class="fa fa-clock-o"></i> {{homeVm.alarm.alarm.data.attributes['created-at'] | date: 'HH:mm:ss'}}</p>
                        <p class="reminder-place">{{homeVm.alarm.alarm.data.attributes.level}}</p>
                        <em class="reminder-notes">{{homeVm.alarm.alarm.data.attributes.message}}</em>
                        <i class="fa fa-bell"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>