<div>
    <div class="col-md-9">
        <div class="widget">
            <div class="widget-header">
                <h3><i class="fa fa-tasks"></i> My Projects</h3>
            </div>
            <div class="widget-content">
                <ul class="task-list">
                    <li>
                        <h3>My First Project</h3>
                        <p>
                            Need to use some existing component to make this better. :)
                        </p>
                        <hr/>
                    </li>
                    <li>
                        <h3>My Second Project</h3>
                        <p>
                            We can put project description here or list of all agents we have in project or whatever...
                            :)
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget widget-hide-header widget-reminder">
            <div class="widget-header hide">
                <h3>SIEM's alarms</h3>
            </div>
            <div class="widget-content">
                <div class="today-reminder">
                    <h4 class="reminder-title">Project name</h4>
                    <p class="reminder-time"><i class="fa fa-clock-o"></i> 21:10</p>
                    <p class="reminder-place">ERROR</p>
                    <em class="reminder-notes">Alarm message or whatever</em>
                    <i class="fa fa-bell"></i>
                </div>
            </div>
        </div>
    </div>
</div>