<div class="wrapper full-page-wrapper page-auth page-login text-center">
	<div class="inner-page">
		<div class="logo">
			<a ui-sref="home"><img src="../../../assets/images/logo.png" alt="Soteria Application" /></a>
		</div>

		<div>
			<button type="button" class="btn btn-auth-facebook" ng-click="loginVm.fbLogin();"><span>Login via Facebook</span></button>
		</div>

		<div style="margin-top: 4px;">
			<button type="button" class="btn btn-auth-google"><span>Login via Google</span></button>
		</div>

		<div class="separator"><span>OR</span></div>

		<div class="login-box center-block">
			<div class="alert alert-danger" ng-if="loginVm.badCredentials">
				<div class="alert-content">
					<h4 class="alert-title">Bad credentials</h4>
					<p>Invalid username or password provided.</p>
				</div>
			</div>
			<form class="form-horizontal" role="form">
				<p class="title">Use your username</p>
				<div class="form-group">
					<label for="username" class="control-label sr-only">Username</label>
					<div class="col-sm-12">
						<div class="input-group">
							<input type="text" ng-model="loginVm.credentials.username" placeholder="username" id="username" class="form-control">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
					</div>
				</div>
				<label for="password" class="control-label sr-only">Password</label>
				<div class="form-group">
					<div class="col-sm-12">
						<div class="input-group">
							<input type="password" ng-model="loginVm.credentials.password" placeholder="password" id="password" class="form-control">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						</div>
					</div>
				</div>
				<button class="btn btn-custom-primary btn-lg btn-block btn-auth" ng-click="loginVm.login();"><i class="fa fa-arrow-circle-o-right"></i> Login</button>
			</form>
			<div class="links">
				<p><a ui-sref="register">Create New Account</a></p>
			</div>
		</div>
	</div>
</div>