<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
            <div class="widget">
                <div class="widget-header">
                    <h3><i class="fa fa-edit"></i> Create new project</h3>
                </div>
                <div class="widget-content">
                    <form class="form-horizontal label-left" role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="projectCreationVm.project.name" id="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                                <textarea ng-model="projectCreationVm.project.description" class="form-control textarea-with-counter" rows="6" cols="30"
                                    maxlength="99"></textarea>
                                <p class="help-block text-right textarea-msg"><span class="text-muted"></span></p>
                            </div>
                        </div>
                    </form>
                    <hr class="dashed" />
                    <em>&nbsp;</em>
                    <button type="button" class="btn btn-large btn-primary pull-right" style="margin-bottom:10px" ng-click="projectCreationVm.createProject();"
                        ng-disabled="projectCreationVm.project.description.length ===0 || projectCreationVm.project.name.length === 0">
                        <i class="fa fa-save"></i> Create project
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>