<div class="container">
	<div class="main-header" style="margin-top: 20px;">
		<h2>Alarm definitions</h2>
		<em>Design your custom alarms</em>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<div class="widget">
				<div class="widget-header">
					<h3>Alarm definitions</h3>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-md-4" ng-repeat="alarmDefinition in defVm.definitions.data">
							<div class="widget quick-note-saved">
								<div class="widget-header">
									<h3><a ui-sref="project.alarm-definition({'definition_id': alarmDefinition.id})">{{alarmDefinition.attributes["name"]}}</a>
									</h3>
								</div>
								<div class="widget-content">
									<div class="basic-info">
										<p class="data-row" style="margin-bottom: 2px;">
											<span class="data-name">Level</span>
											<span class="data-value" style="margin-top: 3px;"><span
													ng-class="defVm.getLabelColor(alarmDefinition.attributes.level)">{{alarmDefinition.attributes["level"]}}</span></span>
										</p>
										
										<p class="data-row">
											<span class="data-name">Description</span>
											<span class="data-value">{{alarmDefinition.attributes["description"]}}</span>
										</p>
										
										<p class="data-row">
											<span class="data-name">Alarms occurred</span>
											<span
													class="data-value"><em>{{alarmDefinition.attributes["triggers"]}}</em></span>
										</p>
										
										<p class="data-row" style="margin-bottom: 2px;">
											<span class="data-name">First occurrence</span>
											<span class="data-value"><em>{{alarmDefinition.attributes["first-occurrence"] | date: 'dd-MM-yyyy HH:mm:ss'}}</em></span>
										</p>
										
										<p class="data-row" style="margin-bottom: 2px;">
											<span class="data-name">Last occurrence</span>
											<span class="data-value" style="margin-top: 3px"><em>{{alarmDefinition.attributes["last-occurrence"] | date: 'dd-MM-yyyy HH:mm:ss'}}</em></span></span>
										</p>
										
										<p class="data-row">
											<span class="data-name">Default message</span>
											<span class="data-value"><em>{{alarmDefinition.attributes["message"]}}</em></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<ul class="pager" ng-if="defVm.definitions.data.length > 0">
						<li ng-if="defVm.definitions.prev != null"><a
								ng-click="defVm.loadAlarmDefinitions(defVm.definitions.prev);" style="cursor: hand;">&larr; Previous</a>
						</li>
						<li ng-if="defVm.definitions.next != null"><a
								ng-click="defVm.loadAlarmDefinitions(defVm.definitions.next);" style="cursor: hand;">Next &rarr;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget">
				<div class="widget-header">
					<h3>Create new definition</h3>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-md-12">
							<div class="panel-group">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title agent-config-header">
											General alarm data
										</h4>
									</div>
									<div class="panel-collapse collapse in">
										<form class="form-horizontal label-left" id="definition-form" name="definitionForm" novalidate>
											<div class="panel-body">
												<div class="form-group" style="margin: 10px"
												     ng-class="{ 'has-error' : definitionForm.definitionName.$invalid && definitionForm.definitionName.$dirty }">
													<label for="definition-name"
													       class="col-sm-3 control-label">Name:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" name="definitionName"
														       id="definition-name"
														       placeholder="Alarm definition's name"
														       ng-model="defVm.newDefinition.name"
														       required ng-minlength="3" ng-maxlength="40"/>
														<span
																ng-show="definitionForm.definitionName.$error.required && definitionForm.definitionName.$dirty"
																class="help-block" style="font-size: 10pt; margin:0px;">Name is required.</span>
														<span ng-show="definitionForm.definitionName.$error.minlength" class="help-block"
														      style="font-size: 10pt; margin:0px;">Name must contains at least 3 characters.</span>
														<span ng-show="definitionForm.definitionName.$error.maxlength" class="help-block"
														      style="font-size: 10pt; margin:0px;">Name must contains less than 20 characters.</span>
													</div>
												
												</div>
												<div class="form-group" style="margin: 10px"
												     ng-class="{ 'has-error' : definitionForm.definitionDescription.$invalid && definitionForm.definitionDescription.$dirty }">
													<label for="definition-description" class="col-sm-3 control-label">Description:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
														       name="definitionDescription" id="definition-description"
														       placeholder="Alarm definition's description"
														       ng-model="defVm.newDefinition.description"
														       required ng-minlength="3" ng-maxlength="60"/>
														<span
																ng-show="definitionForm.definitionDescription.$error.required && definitionForm.definitionDescription.$dirty"
																class="help-block" style="font-size: 10pt; margin:0px;">Description is required.</span>
														<span ng-show="definitionForm.definitionDescription.$error.minlength" class="help-block"
														      style="font-size: 10pt; margin:0px;">Description must contains at least 3 characters.</span>
														<span ng-show="definitionForm.definitionDescription.$error.maxlength" class="help-block"
														      style="font-size: 10pt; margin:0px;">Description must contains less than 60 characters.</span>
													</div>
												</div>
												<div class="form-group" style="margin: 10px"
												     ng-class="{ 'has-error' : definitionForm.definitionMessage.$invalid && definitionForm.definitionMessage.$dirty }">
													<label for="definition-message" class="col-sm-3 control-label">Message:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
														       name="definitionMessage" id="definition-message"
														       placeholder="Message to show in Alarm instance"
														       ng-model="defVm.newDefinition.message"
														       required ng-minlength="3" ng-maxlength="255"/>
														<span
																ng-show="definitionForm.definitionMessage.$error.required && definitionForm.definitionMessage.$dirty"
																class="help-block" style="font-size: 10pt; margin:0px;">Message is required.</span>
														<span ng-show="definitionForm.definitionMessage.$error.minlength" class="help-block"
														      style="font-size: 10pt; margin:0px;">Message must contains at least 3 characters.</span>
														<span ng-show="definitionForm.definitionMessage.$error.maxlength" class="help-block"
														      style="font-size: 10pt; margin:0px;">Message must contains less than 255 characters.</span>
													</div>
												</div>
												<div class="form-group" style="margin: 10px">
													<label for="definition-level"
													       class="col-md-3 control-label">Level: </label>
													<div class="col-sm-9">
														<select id="definition-level"
														        ng-model="defVm.newDefinition.level"
														        class="form-control">
															<option value="INFO">Info</option>
															<option value="LOW">Low</option>
															<option value="MEDIUM">Medium</option>
															<option value="HIGH">High</option>
															<option value="SEVERE">Severe</option>
														</select>
													</div>
												</div>
												<div class="form-group" style="margin: 10px">
													<label for="definition-type"
													       class="col-md-3 control-label">Type: </label>
													<div class="col-sm-9">
														<select id="definition-type"
														        ng-model="defVm.newDefinition.type"
														        class="form-control">
															<option value="SINGLE">Single</option>
															<option value="MULTI">Multi</option>
														</select>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								
								<div class="panel panel-default" ng-show="defVm.newDefinition.type === 'MULTI'">
									<div class="panel-heading">
										<h4 class="panel-title agent-config-header">
											Multi rules definition
										</h4>
									</div>
									<div class="panel-collapse collapse in">
										<div class="panel-body">
											<p style="margin-bottom: 10px;"><em>Set up multi rule definition... </em></p>
											<form class="form-horizontal label-left row" name="multiRuleForm" id="multi-rule-form" novalidate>
												<div class="col-md-12">
													<div class="form-group" style="margin: 10px"
													     ng-class="{ 'has-error' : multiRuleForm.multiRuleInterval.$invalid && multiRuleForm.multiRuleInterval.$dirty }">
														<label for="definition-multi-rule-interval" class="col-sm-3 control-label">Interval:</label>
														<div class="col-sm-9">
															<input type="number" class="form-control"
															       name="multiRuleInterval" id="definition-multi-rule-interval"
															       placeholder="Seconds into logs history"
															       ng-model="defVm.newDefinition.multiRule.interval"
															       required min="1" ng-min="1"/>
															<span
																	ng-show="multiRuleForm.multiRuleInterval.$error.required && multiRuleForm.multiRuleInterval.$dirty"
																	class="help-block" style="font-size: 10pt; margin:0px;">Interval is required.</span>
															<span ng-show="multiRuleForm.multiRuleInterval.$error.min" class="help-block"
															      style="font-size: 10pt; margin:0px;">Interval must be positive.</span>
														</div>
													</div>
													<div class="form-group" style="margin: 10px"
													     ng-class="{ 'has-error' : multiRuleForm.multiRuleTrigger.$invalid && multiRuleForm.multiRuleTrigger.$dirty }">
														<label for="definition-multi-rule-trigger"
														       class="col-sm-3 control-label">Repetition:</label>
														<div class="col-sm-9">
															<input type="number" class="form-control"
															       name="multiRuleTrigger" id="definition-multi-rule-trigger"
															       placeholder="Number of logs to match rules"
															       ng-model="defVm.newDefinition.multiRule['repetition-trigger']"
															       required min="1" ng-min="1"/>
															<span
																	ng-show="multiRuleForm.multiRuleTrigger.$error.required && multiRuleForm.multiRuleTrigger.$dirty"
																	class="help-block" style="font-size: 10pt; margin:0px;">Repetition trigger is required.</span>
															<span ng-show="multiRuleForm.multiRuleTrigger.$error.min" class="help-block"
															      style="font-size: 10pt; margin:0px;">Repetition trigger must be positive.</span>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- SINGLE RULES -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title agent-config-header">
											Simple rules
										</h4>
									</div>
									<div class="panel-collapse collapse in">
										<div class="panel-body">
											<p style="margin-bottom: 10px;"><em>Provide custom rules... </em></p>
											<div class="row">
												<form class="form-horizontal label-left" id="rules-form" name="rulesForm" novalidate>
													<div class="col-md-12">
														<!-- SINGLE RULE -->
														<div class="panel panel-default"
														     data-ng-repeat="rule in defVm.newDefinition.rules">
															<div class="panel-heading">
																<h4 class="panel-title agent-config-header">
																	Simple Rule {{rule.id}}
																</h4>
															</div>
															<div class="panel-collapse collapse in">
																<form class="form-horizontal label-left">
																	<div class="panel-body">
																		<div class="col-md-12">
																			<div class="form-group">
																				<label class="col-md-3 control-label">Log field: </label>
																				<div class="col-md-9">
																					<select id="{{'rule-field-' + rule.id}}"
																					        class="form-control"
																					        ng-model="rule.field">
																						<option value="MESSAGE">Message</option>
																						<option value="HOST">Host</option>
																						<option value="LEVEL">Level</option>
																						<option value="SOURCE">Source</option>
																						<option value="PID">PID</option>
																						<option value="GID">GID</option>
																						<option value="UID">UID</option>
																						<option value="ERROR_TYPE">Error type</option>
																						<option value="ERROR">Error value</option>
																						<option value="ERROR_NO">Error no.</option>
																						<option value="STACK">Stack</option>
																					</select>
																				</div>
																			</div>
																			<div class="form-group">
																				<label class="col-md-3 control-label">Method:</label>
																				<div class="col-md-9">
																					<select id="{{'rule-method-' + rule.id}}"
																					        class="form-control"
																					        ng-model="rule.method">
																						<option value="CONTAINS">Contains</option>
																						<option value="EQUALS">Equals</option>
																						<option value="STARTS_WITH">Starts with</option>
																						<option value="ENDS_WITH">Ends with</option>
																						<option value="REGEX">Regular expression</option>
																					</select>
																				</div>
																			</div>
																			<div class="form-group"
																			     ng-class="{ 'has-error' : rulesForm['ruleValue' + rule.id].$invalid && rulesForm['ruleValue' + rule.id].$dirty }">
																				<label for="{{'rule-value-' + rule.id}}"
																				       class="col-sm-3 control-label">Value:</label>
																				<div class="col-sm-9">
																					<input type="text" class="form-control"
																					       name="{{'ruleValue' + rule.id}}"
																					       id="{{'rule-value-' + rule.id}}"
																					       placeholder="{{'Rule ' + rule.id + ' value'}}"
																					       ng-model="rule.value" required/>
																					<span
																							ng-show="rulesForm['ruleValue' + rule.id].$error.required && rulesForm['ruleValue' + rule.id].$dirty"
																							class="help-block" style="font-size: 10pt; margin:0px;">Value is required.
																				</span>
																				</div>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
														</div>
														<button class="btn btn-primary btn-add-field" type="button"
														        ng-click="defVm.addSingleRule()"> + RULE
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-lg btn-primary" ng-click="defVm.saveAlarmDefinition();" type="button"
					        ng-disabled="definitionForm.$invalid || rulesForm.$invalid || ( multiRuleForm.$invalid && defVm.newDefinition.type === 'MULTI') || (defVm.newDefinition.rules.length == 0)"
					        style="width: 100%;">Create definition
					</button>
				</div>
			</div>
		</div>
	</div>

</div>