<div class="container">
	
	<div class="row">
		<div class="col-lg-8">
			<div class="widget">
				<div class="widget-header">
					<h3>Alarm definitions</h3>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-md-4" ng-repeat="alarmDefinition in defVm.definitions.data">
							<div class="widget quick-note-saved">
								<div class="widget-header">
									<h3><a ui-sref="project.alarm-definition({'definition_id': alarmDefinition.id})">{{alarmDefinition.attributes["name"]}}</a></h3>
								</div>
								<div class="widget-content">
									<dl class="dl-horizontal project-agent">
										<dt>Level:</dt>
										<dd>{{alarmDefinition.attributes["level"]}}</dd>

										<dt>Description:</dt>
										<dd>{{alarmDefinition.attributes["description"]}}</dd>
										
										<dt>Occurs:</dt>
										<dd>{{alarmDefinition.attributes["triggers"]}}</dd>
										
										<dt>First time:</dt>
										<dd>{{alarmDefinition.attributes["first-occurrence"] | date: 'dd-MM-yyyy HH:mm:ss'}}</dd>
										
										<dt>Last time:</dt>
										<dd>{{alarmDefinition.attributes["last-occurrence"] | date: 'dd-MM-yyyy HH:mm:ss'}}</dd>
									
									</dl>
								</div>
							</div>
						</div>
					</div>
					<ul class="pager">
						<li ng-class="{ 'disabled': defVm.definitions.prev == null }"><a
								ng-click="defVm.prevDefs(defVm.definitions.prev);">&larr; Previous</a></li>
						<li ng-class="{ 'disabled': defVm.definitions.next == null }"><a
								ng-click="defVm.nextDefs(defVm.definitions.next);">Next &rarr;</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget">
				<div class="widget-header">
					<h3>Create new definition</h3>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-md-12">
							<div class="panel-group">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title agent-config-header">
											General alarm data
										</h4>
									</div>
									<div class="panel-collapse collapse in">
										<form class="form-horizontal label-left">
											<div class="panel-body">
												<div class="form-group" style="margin: 10px">
													<label for="definition-name"
													       class="col-sm-3 control-label">Name:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control" name="definition-name"
														       id="definition-name"
														       placeholder="Alarm definition's name"
														       ng-model="defVm.newDefinition.name">
													</div>
												</div>
												<div class="form-group" style="margin: 10px">
													<label for="definition-description" class="col-sm-3 control-label">Description:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
														       name="definition-description" id="definition-description"
														       placeholder="Alarm definition's description"
														       ng-model="defVm.newDefinition.description">
													</div>
												</div>
												<div class="form-group" style="margin: 10px">
													<label for="definition-message" class="col-sm-3 control-label">Message:</label>
													<div class="col-sm-9">
														<input type="text" class="form-control"
														       name="definition-message" id="definition-message"
														       placeholder="Message to show in Alarm instance"
														       ng-model="defVm.newDefinition.message">
													</div>
												</div>
												<div class="form-group" style="margin: 10px">
													<label for="definition-level"
													       class="col-md-3 control-label">Level: </label>
													<div class="col-sm-9">
														<select id="definition-level"
														        ng-model="defVm.newDefinition.level"
														        class="form-control">
															<option value="INFO">Info</option>
															<option value="LOW">Low</option>
															<option value="MEDIUM">Medium</option>
															<option value="HIGH">High</option>
															<option value="SEVERE">Severe</option>
														</select>
													</div>
												</div>
												<div class="form-group" style="margin: 10px">
													<label for="definition-type"
													       class="col-md-3 control-label">Type: </label>
													<div class="col-sm-9">
														<select id="definition-type"
														        ng-model="defVm.newDefinition.type"
														        class="form-control">
															<option value="SINGLE">Single</option>
															<option value="MULTI">Multi</option>
														</select>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								
								<div class="panel panel-default" ng-show="defVm.newDefinition.type === 'MULTI'">
									<div class="panel-heading">
										<h4 class="panel-title agent-config-header">
											Multi rules definition
										</h4>
									</div>
									<div class="panel-collapse collapse in">
										<div class="panel-body">
											<p style="margin-bottom: 10px;"><em>Set up multi rule definition... </em></p>
											<form class="form-horizontal label-left row">
												<div class="col-md-12">
													<div class="form-group" style="margin: 10px">
														<label for="definition-multi-rule-interval" class="col-sm-3 control-label">Interval:</label>
														<div class="col-sm-9">
															<input type="text" class="form-control"
															       name="definition-description" id="definition-multi-rule-interval"
															       placeholder="Seconds into logs history"
															       ng-model="defVm.newDefinition.multiRule.interval">
														</div>
													</div>
													<div class="form-group" style="margin: 10px">
														<label for="definition-multi-rule-trigger" class="col-sm-3 control-label">Repetition:</label>
														<div class="col-sm-9">
															<input type="text" class="form-control"
															       name="definition-message" id="definition-multi-rule-trigger"
															       placeholder="Number of logs to match rules"
															       ng-model="defVm.newDefinition.multiRule['repetition-trigger']">
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- SINGLE RULES -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title agent-config-header">
											Simple rules
										</h4>
									</div>
									<div class="panel-collapse collapse in">
										<div class="panel-body">
											<p style="margin-bottom: 10px;"><em>Provide custom rules... </em></p>
											<div class="row">
												<div class="col-md-12">
													<!-- SINGLE RULE -->
													<div class="panel panel-default"
													     data-ng-repeat="rule in defVm.newDefinition.rules">
														<div class="panel-heading">
															<h4 class="panel-title agent-config-header">
																Simple Rule {{rule.id}}
															</h4>
														</div>
														<div class="panel-collapse collapse in">
															<form class="form-horizontal label-left">
																<div class="panel-body">
																	<div class="col-md-12">
																		<div class="form-group">
																			<label class="col-md-3 control-label">Log field: </label>
																			<div class="col-md-9">
																				<select id="{{'rule-field-' + rule.id}}"
																				        class="form-control"
																				        ng-model="rule.field">
																					<option value="MESSAGE">Message
																					</option>
																					<option value="HOST">Host</option>
																					<option value="LEVEL">Level</option>
																					<option value="PID">PID</option>
																					<option value="GID">GID</option>
																					<option value="UID">UID</option>
																				</select>
																			</div>
																		</div>
																		<div class="form-group">
																			<label class="col-md-3 control-label">Method:</label>
																			<div class="col-md-9">
																				<select id="{{'rule-method-' + rule.id}}"
																				        class="form-control"
																				        ng-model="rule.method">
																					<option value="CONTAINS">Contains</option>
																					<option value="EQUALS">Equals</option>
																					<option value="STARTS_WITH">Starts with</option>
																					<option value="ENDS_WITH">Ends with</option>
																					<option value="REGEX">Regular expression</option>
																				</select>
																			</div>
																		</div>
																		<div class="form-group">
																			<label for="{{'rule-value-' + rule.id}}"
																			       class="col-sm-3 control-label">Value:</label>
																			<div class="col-sm-9">
																				<input type="text" class="form-control"
																				       name="definition-description"
																				       id="{{'rule-value-' + rule.id}}"
																				       placeholder="{{'Rule ' + rule.id + ' value'}}"
																				       ng-model="rule.value">
																			</div>
																		</div>
																	</div>
																</div>
															</form>
														</div>
													</div>
													<button class="btn btn-primary btn-add-field" type="button"
													        ng-click="defVm.addSingleRule()"> + RULE
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-lg btn-primary" ng-click="defVm.saveAlarmDefinition();" type="button"
					        style="width: 100%;">Create definition
					</button>
				</div>
			</div>
		</div>
	</div>

</div>