<div class="container" style="margin-top:15px">
    <div class="row">

        <!-- Own projects -->
        <div class="col-md-4 col-md-offset-1">
            <div class="main-header" style="margin-top: 20px">
                <h2>Your projects</h2>
                <em>owned by you</em>
            </div>

            <div class="widget" ng-repeat="project in projectsVm.ownedProjects.data">
                <div class="widget-header">
                    <h3><i class="fa fa-newspaper-o"></i> {{project.attributes.name}} </h3>
                    <div class="btn-group widget-header-toolbar">
                        <a href="#" title="Preview" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                        <a href="#" title="Collaborators" class="btn-borderless btn-remove"><i class="fa fa-user"></i></a>
                    </div>
                </div>
                <div class="widget-content text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/images/project-avatar.png" style="height:100px; width:100px" class="img-circle" alt="Avatar" />
                        </div>
                        <div class="col-md-8">
                            <p>
                                {{project.attributes.description}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="widget-footer">
                    <em> Number of collaborators </em>
                    <div class="pull-right">
                        <span class="badge element-bg-color-green">{{project.relationships.members.data.length}}</span>
                    </div>
                </div>
            </div>

            <ul class="pager" ng-if="projectsVm.ownedProjects.data.length > 0">
                <li ng-class="{ 'disabled': projectsVm.ownedProjects.prev == null }"><a ng-click="projectsVm.prevOwnedProjects(projectsVm.ownedProjects.prev);">&larr; Previous</a></li>
                <li ng-class="{ 'disabled': projectsVm.ownedProjects.next == null }"><a ng-click="projectsVm.nextOwnedProjects(projectsVm.ownedProjects.next);">Next &rarr;</a></li>
            </ul>
        </div>

        <!-- Vertical ruler-->
        <div class="col-md-2">
            <hr style="border: none; border-left: 1px solid #D0D0D0; height:85vh; width:1px;">
            </hr>
        </div>

        <!-- Collaborate in projects -->
        <div class="col-md-4">
            <div class="main-header" style="margin-top: 20px">
                <h2>Projects you collaborate to</h2>
                <em>as operator</em>
            </div>

            <div class="widget" ng-repeat="project in projectsVm.membershipProjects.data">
                <div class="widget-header">
                    <h3><i class="fa fa-newspaper-o"></i> {{project.attributes.name}} </h3>
                    <div class="btn-group widget-header-toolbar">
                        <a href="#" title="Preview" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                        <a href="#" title="Collaborators" class="btn-borderless btn-remove"><i class="fa fa-user"></i></a>
                    </div>
                </div>
                <div class="widget-content text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../assets/images/project-avatar.png" style="height:100px; width:100px" class="img-circle" alt="Avatar" />
                        </div>
                        <div class="col-md-8">
                            <p>
                                {{project.attributes.description}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="widget-footer">
                    <em> Number of collaborators </em>
                    <div class="pull-right">
                        <span class="badge element-bg-color-green">{{project.relationships.members.data.length}}</span>
                    </div>
                </div>
            </div>

            <ul class="pager" ng-if="projectsVm.membershipProjects.data.length > 0">
                <li ng-class="{ 'disabled': projectsVm.membershipProjects.prev == null }"><a ng-click="projectsVm.prevMembershipProjects(projectsVm.membershipProjects.prev);">&larr; Previous</a></li>
                <li ng-class="{ 'disabled': projectsVm.membershipProjects.next == null }"><a ng-click="projectsVm.nextMembershipProjects(projectsVm.membershipProjects.next);">Next &rarr;</a></li>
            </ul>
        </div>
    </div>
</div>